In [1]:
import pandas as pd
sales = pd.read_csv("messy_sales.csv")

sales.describe()

,Date,Region,Product,Category,Units Sold,Unit Price,Total Sales,Profit Margin (%)
count,200,200,200,200,196,200,197,200
unique,134,5,7,5,49,198,134,6
top,1/17/2024,north,Phone,ELEC,thirty,USD 586,########,0.08
freq,5,75,33,63,69,2,64,42