In [1]:
import plotly.express as p
data = {
    "student":["Shyaka","Thierry","manzi","Isimbi"],
    "score":[12,34,58,45]

 }
p.bar(data, x="student",y="score",title="Student Score").show()

In [2]:
import pandas as pd
sales= pd.read_csv("messy_sales.csv")
sales.tail(10)

,Date,Region,Product,Category,Units Sold,Unit Price,Total Sales,Profit Margin (%)
190,March 29 2024,South,Phone,electronics,twenty,852.88,22357,12%
191,1/15/2024,north,laptop,gadget,70,663.03,"20,092",10%
192,3/27/2024,West,laptop,ELEC,39,257.91,"32,407",12%
193,March 05 2024,NORTH,Phone,gadget,twenty,$818.68,########,15 percent
194,January 06 2024,north,tablet,ELEC,twenty,$870.42,"34,467",0.08
195,March 15 2024,NORTH,Tablet,ELEC,twenty,USD 702,23607,10%
196,2/23/2024,north,Laptop,ELEC,twenty,566.26,"29,715",15 percent
197,2/10/2024,north,Desktop,Electronics,91,$123.43,"12,432",0.1
198,3/12/2024,West,Phone,ELEC,thirty,755.84,41246,0.08
199,2/19/2024,north,tablet,ELEC,twenty,$870.90,########,12%

In [3]:
import pandas as pd
sales= pd.read_csv("messy_sales.csv")
sales.describe()

,Date,Region,Product,Category,Units Sold,Unit Price,Total Sales,Profit Margin (%)
count,200,200,200,200,196,200,197,200
unique,134,5,7,5,49,198,134,6
top,1/17/2024,north,Phone,ELEC,thirty,USD 586,########,0.08
freq,5,75,33,63,69,2,64,42

In [4]:
#getting unique values
print("Region",sales['Region'].unique())
print("Category",sales['Category'].unique())
print("Product",sales['Product'].unique())

Region ['north' 'EAST' 'West' 'South' 'NORTH']
Category ['electronics' 'Electronics' 'ELEC' 'gadget' 'Gadgets']
Product ['tablet' 'Tablet' 'laptop' 'Laptop' 'Phone' 'Desktop' 'Monitor']

In [5]:
# Checking null values (NaN)
sales.isnull().sum()

Date                 0
Region               0
Product              0
Category             0
Units Sold           4
Unit Price           0
Total Sales          3
Profit Margin (%)    0
dtype: int64

In [6]:
#Checking duplicated values
sales.duplicated().sum()

np.int64(0)

In [7]:
#Data preparation by converting a string numbers to numbers
sales['Units Sold']=pd.to_numeric(sales['Units Sold'], errors='coerce')
sales['Total Sales']=pd.to_numeric(sales['Total Sales'], errors='coerce')
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               200 non-null    object
 1   Region             200 non-null    object
 2   Product            200 non-null    object
 3   Category           200 non-null    object
 4   Units Sold         65 non-null     float64
 5   Unit Price         200 non-null    object
 6   Total Sales        65 non-null     float64
 7   Profit Margin (%)  200 non-null    object
dtypes: float64(2), object(6)
memory usage: 12.6+ KB

In [8]:
print(sales['Units Sold'])

0      32.0
1      72.0
2       NaN
3       NaN
4      47.0
       ...
195     NaN
196     NaN
197    91.0
198     NaN
199     NaN
Name: Units Sold, Length: 200, dtype: float64

In [9]:
#filling missing numeric values
from sklearn.impute import KNNImputer, SimpleImputer


s_imputer = SimpleImputer()#Average
k_imputer = KNNImputer()# Average for 5 elements
new_sales= sales.copy()

new_sales['Units Sold']= s_imputer.fit_transform(new_sales[["Units Sold"]])
new_sales['Units Sold']= k_imputer.fit_transform(new_sales[["Units Sold"]])

new_sales.isna().sum()

Date                   0
Region                 0
Product                0
Category               0
Units Sold             0
Unit Price             0
Total Sales          135
Profit Margin (%)      0
dtype: int64

In [10]:
# filling missing numeric values using statistical method
sales1= sales.copy()
sales2= sales.copy()
sales3= sales.copy()

mean= sales1['Units Sold'].mean()
median= sales1['Total Sales'].median()
sales1['Units Sold']= sales1['Units Sold'].fillna(mean)
sales1['Total Sales']= sales1['Total Sales'].fillna(median)
sales1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               200 non-null    object
 1   Region             200 non-null    object
 2   Product            200 non-null    object
 3   Category           200 non-null    object
 4   Units Sold         200 non-null    float64
 5   Unit Price         200 non-null    object
 6   Total Sales        200 non-null    float64
 7   Profit Margin (%)  200 non-null    object
dtypes: float64(2), object(6)
memory usage: 12.6+ KB

In [11]:
# fill missing numeric values using constant method
sales2['Units Sold']= sales2['Units Sold'].fillna(0)
sales2['Total Sales']= sales2['Total Sales'].fillna(1000)

sales2

,Date,Region,Product,Category,Units Sold,Unit Price,Total Sales,Profit Margin (%)
0,January 15 2024,north,tablet,electronics,32.0,USD 858,1000.0,10%
1,1/30/2024,north,Tablet,Electronics,72.0,$833.83,1000.0,15 percent
2,2/13/2024,EAST,laptop,ELEC,0.0,489.12,1000.0,0.08
3,4/28/2024,West,Laptop,gadget,0.0,$733.46,1000.0,0.1
4,2/18/2024,EAST,Phone,ELEC,47.0,USD 373,1000.0,0.1
...,...,...,...,...,...,...,...,...
195,March 15 2024,NORTH,Tablet,ELEC,0.0,USD 702,23607.0,10%
196,2/23/2024,north,Laptop,ELEC,0.0,566.26,1000.0,15 percent
197,2/10/2024,north,Desktop,Electronics,91.0,$123.43,1000.0,0.1
198,3/12/2024,West,Phone,ELEC,0.0,755.84,41246.0,0.08
199,2/19/2024,north,tablet,ELEC,0.0,$870.90,1000.0,12%

In [12]:
#Deleting missing values
sales3.dropna(inplace=True)## if you want the current Data set to change use "inplace=True"
sales3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 27 to 187
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               19 non-null     object
 1   Region             19 non-null     object
 2   Product            19 non-null     object
 3   Category           19 non-null     object
 4   Units Sold         19 non-null     float64
 5   Unit Price         19 non-null     object
 6   Total Sales        19 non-null     float64
 7   Profit Margin (%)  19 non-null     object
dtypes: float64(2), object(6)
memory usage: 1.3+ KB

In [13]:
#Standardize text columns( make names consistent)
sales['Category'] = sales['Category'].str.lower()
sales['Category'] = sales['Category'].str.replace('gadgets','gadget')

sales['Category'].unique()
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               200 non-null    object
 1   Region             200 non-null    object
 2   Product            200 non-null    object
 3   Category           200 non-null    object
 4   Units Sold         65 non-null     float64
 5   Unit Price         200 non-null    object
 6   Total Sales        65 non-null     float64
 7   Profit Margin (%)  200 non-null    object
dtypes: float64(2), object(6)
memory usage: 12.6+ KB

In [14]:
sales['Unit Price']= sales['Unit Price'].str.replace('$','').str.strip() ## strip is for removind exctra spaces
sales['Unit Price']

0      USD 858
1       833.83
2       489.12
3       733.46
4      USD 373
        ...
195    USD 702
196     566.26
197     123.43
198     755.84
199     870.90
Name: Unit Price, Length: 200, dtype: object