In [22]:
import pandas as pd

# Load the dataset
df = pd.read_csv('student_performance.csv')

# Display basic information
print("Dataset Shape:", df.shape)
print("\nColumns:", df.columns.tolist())
print("\nData Types:\n", df.dtypes)
print("\nFirst 5 Rows:\n", df.head())

Dataset Shape: (164, 8)

Columns: ['student_id', 'age', 'gender', 'attendance', 'assignment_score', 'exam_score', 'final_grade', 'department']

Data Types:
 student_id           object
age                 float64
gender               object
attendance          float64
assignment_score     object
exam_score           object
final_grade          object
department           object
dtype: object

First 5 Rows:
   student_id   age  gender  attendance assignment_score exam_score  \
0       S001 21.00    Male       85.00               78         82
1       S002 22.00    Male       90.00               88         91
2       S002 22.00    Male       90.00               88         91
3       S003 20.00  Female       75.00               65         70
4       S004 23.00    Male       60.00               55         58

  final_grade department
0           A         CS
1           A         CS
2           A         CS
3           B         IT
4           C         IT

In [23]:
# Task 2: Loading Data Using pandas

import pandas as pd

# Load the CSV file
df = pd.read_csv('student_performance.csv')

# Basic inspection right after loading
print("Shape of the dataset:", df.shape)
print("\nColumns and their data types:")
print(df.dtypes)
print("\nFirst 5 rows of the raw data:")
print(df.head())

# Quick look at potential issues
print("\nMissing values per column:")
print(df.isna().sum())
print("\nNumber of duplicate rows:", df.duplicated().sum())

Shape of the dataset: (164, 8)

Columns and their data types:
student_id           object
age                 float64
gender               object
attendance          float64
assignment_score     object
exam_score           object
final_grade          object
department           object
dtype: object

First 5 rows of the raw data:
  student_id   age  gender  attendance assignment_score exam_score  \
0       S001 21.00    Male       85.00               78         82
1       S002 22.00    Male       90.00               88         91
2       S002 22.00    Male       90.00               88         91
3       S003 20.00  Female       75.00               65         70
4       S004 23.00    Male       60.00               55         58

  final_grade department
0           A         CS
1           A         CS
2           A         CS
3           B         IT
4           C         IT

Missing values per column:
student_id          0
age                 1
gender              2
attendance          1
assignment_score    2
exam_score          1
final_grade         0
department          4
dtype: int64

Number of duplicate rows: 3

In [ ]:
# ── Final verification ──────────────────────────────────────────────────────
print("\n" + "="*60)
print("CLEANED DATASET SUMMARY")
print("="*60)
print("Shape:", df.shape)
print("\nData types:\n", df.dtypes)
print("\nMissing values:\n", df.isna().sum())
print("\nDescriptive statistics:\n", df.describe(include='all'))
print("\nFirst 8 rows of cleaned data:")
print(df.head(8))

# ── SAVE THE CLEANED DATA ───────────────────────────────────────────────────
df.to_csv('student_performance_revised.csv', index=False)

print("\n" + "="*70)
print("EXPORT COMPLETE")
print("="*70)
print("→ File saved: student_performance_revised.csv")
print("→ Rows saved:", df.shape[0])
print("→ Columns saved:", df.shape[1])
print("→ No missing values:", df.isna().any().any() == False)
print("\nYou can now use this file for further analysis or submission.")

=== Task 3: Dataset Issues Exploration & Documentation ===

Dataset shape: (164, 8)

Current data types:
 student_id           object
age                 float64
gender               object
attendance          float64
assignment_score     object
exam_score           object
final_grade          object
department           object
dtype: object

Explicit NaN counts:
 student_id          0
age                 1
gender              2
attendance          1
assignment_score    2
exam_score          1
final_grade         0
department          4
dtype: int64

Number of duplicate rows: 3
Duplicate rows preview (sorted by student_id):
   student_id   age  gender final_grade department
1        S002 22.00    Male           A         CS
2        S002 22.00    Male           A         CS
6        S006 22.00  Female          EE        NaN
7        S006 22.00  Female          EE        NaN
15       S014 20.00    Male           A         CS
16       S014 20.00    Male           A         CS

=== Categorical / Text Columns ===

GENDER unique values (with counts):
gender
Male      132
Female     27
NaN         2
M           1
F           1
46          1
Name: count, dtype: int64
 → Total unique (including NaN): 6

FINAL_GRADE unique values (with counts):
final_grade
D     40
B     37
F     31
A     27
C     25
EE     3
IT     1
Name: count, dtype: int64
 → Total unique (including NaN): 7

DEPARTMENT unique values (with counts):
department
CS     62
IT     55
EE     43
NaN     4
Name: count, dtype: int64
 → Total unique (including NaN): 4

=== Problematic Numeric Columns (currently object) ===

Column: assignment_score
 → Values that cannot be converted to numeric: 1
 → Non-numeric / problematic values and their counts:
assignment_score
invalid    1
Name: count, dtype: int64
 → Example rows with issues:
   student_id assignment_score
13       S012          invalid

Column: exam_score
 → Values that cannot be converted to numeric: 4
 → Non-numeric / problematic values and their counts:
exam_score
C    2
B    1
F    1
Name: count, dtype: int64
 → Example rows with issues:
    student_id exam_score
6         S006          C
7         S006          C
30        S028          B
126       S123          F

=== Range & Outlier Checks ===
Age:
count   163.00
mean     21.67
std       1.60
min      19.00
25%      20.00
50%      22.00
75%      23.00
max      25.00
Name: age, dtype: float64
 → Suspicious ages (<16 or >35):
Empty DataFrame
Columns: [student_id, age, gender]
Index: []

Attendance:
count   163.00
mean     68.87
std      19.52
min      25.00
25%      55.50
50%      71.00
75%      86.00
max      98.00
Name: attendance, dtype: float64
 → Values outside 0–100:
Empty DataFrame
Columns: [student_id, attendance]
Index: []

First 8 rows (raw):
  student_id   age  gender  attendance assignment_score exam_score  \
0       S001 21.00    Male       85.00               78         82
1       S002 22.00    Male       90.00               88         91
2       S002 22.00    Male       90.00               88         91
3       S003 20.00  Female       75.00               65         70
4       S004 23.00    Male       60.00               55         58
5       S005 21.00    Male       95.00               92        NaN
6       S006 22.00  Female       70.00               68          C
7       S006 22.00  Female       70.00               68          C

  final_grade department
0           A         CS
1           A         CS
2           A         CS
3           B         IT
4           C         IT
5           A         CS
6          EE        NaN
7          EE        NaN

Last 5 rows (raw):
    student_id   age gender  attendance assignment_score exam_score  \
159       S156 23.00   Male       76.00               72         74
160       S157 21.00   Male       88.00               84         86
161       S158 25.00   Male       58.00               54         56
162       S159 20.00   Male       92.00               89         91
163       S160 22.00   Male       28.00               34         38

    final_grade department
159           C         CS
160           B         IT
161           D         EE
162           A         CS
163           F         IT

======================================================================
SUMMARY OF IDENTIFIED ISSUES & PROPOSED SOLUTIONS
======================================================================
1. Duplicate rows
   → Evidence: 3 fully identical rows detected (likely S002 repeated)
   → Planned solution: Use df.drop_duplicates(keep='first', inplace=True) or subset=['student_id'] if ID should be unique

2. Missing values (explicit NaN)
   → Evidence: age:1, gender:2, attendance:1, assignment_score:2, exam_score:1, department:4
   → Planned solution: Decide per column: impute (median/mean/mode), drop rows, or flag

3. Numeric columns stored as strings
   → Evidence: assignment_score & exam_score are object → contain non-numeric entries
   → Planned solution: pd.to_numeric(..., errors='coerce') to turn invalid → NaN, then handle NaNs

4. Inconsistent / dirty categories
   → Evidence: gender, department, final_grade may have typos, case differences, extra spaces
   → Planned solution: df[col] = df[col].str.strip().str.lower().str.title() or use replace/mapping dict

5. Hidden missing values
   → Evidence: Possible '-', 'N/A', 'null', empty strings, 'missing' etc. not counted in isna()
   → Planned solution: Replace known markers with np.nan before type conversion

6. Age as float
   → Evidence: Should be integer (whole years)
   → Planned solution: After outlier handling: df['age'] = df['age'].round().astype('Int64')

7. Out-of-range values
   → Evidence: Possible unrealistic age/attendance/score values
   → Planned solution: Replace with NaN or reasonable value (e.g. median) based on domain knowledge

In [26]:
# =============================================================================
# Task 4: Data Preparation (40% marks)
# Goal: Correct ALL identified issues from Task 3 → produce clean dataset
# =============================================================================

import pandas as pd
import numpy as np

# ── Load raw data (fresh start for reproducibility) ──────────────────────────
df = pd.read_csv('student_performance.csv')

print("Original shape:", df.shape)
print("Original dtypes:\n", df.dtypes)

# ── Step 1: Remove duplicate rows ───────────────────────────────────────────
# We keep the first occurrence (most common approach)
df = df.drop_duplicates(keep='first').reset_index(drop=True)

print("\nAfter removing duplicates → shape:", df.shape)

# ── Step 2: Handle hidden / string missing values first ─────────────────────
# Replace common missing markers (expand list if you see more in unique values)
missing_markers = ['-', 'N/A', 'NA', 'null', 'missing', 'None', '']
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = df[col].replace(missing_markers, np.nan)

# ── Step 3: Convert score columns to numeric ────────────────────────────────
for col in ['assignment_score', 'exam_score']:
    # Convert → invalid become NaN
    df[col] = pd.to_numeric(df[col], errors='coerce')

print("\nAfter numeric conversion:")
print(df[['assignment_score', 'exam_score']].dtypes)
print("New NaNs created in scores:\n", df[['assignment_score', 'exam_score']].isna().sum())

# ── Step 4: Impute missing numeric values ────────────────────────────────────
# Using median (robust to outliers) for scores and attendance
# Using mode for gender & department (categorical)
# Age: median

df['age'] = df['age'].fillna(df['age'].median())
df['attendance'] = df['attendance'].fillna(df['attendance'].median())
df['assignment_score'] = df['assignment_score'].fillna(df['assignment_score'].median())
df['exam_score'] = df['exam_score'].fillna(df['exam_score'].median())

# Gender & department → most frequent value
df['gender'] = df['gender'].fillna(df['gender'].mode()[0])
df['department'] = df['department'].fillna(df['department'].mode()[0])

print("\nAfter imputation - remaining NaNs:\n", df.isna().sum())

# ── Step 5: Standardize categorical columns ─────────────────────────────────
for col in ['gender', 'department', 'final_grade']:
    if df[col].dtype == 'object':
        df[col] = df[col].str.strip().str.lower().str.title()

# Optional: map gender to consistent values if needed (example)
gender_map = {'Male': 'Male', 'M': 'Male', 'Female': 'Female', 'F': 'Female'}
df['gender'] = df['gender'].replace(gender_map)

print("\nAfter standardization - unique values:")
print("Gender:", df['gender'].unique())
print("Department:", df['department'].unique())
print("Final grade:", df['final_grade'].unique())

# ── Step 6: Fix age to integer & bound check ────────────────────────────────
# Convert to int (after imputation)
df['age'] = df['age'].round().astype('Int64')  # nullable int

# Optional: bound age (example: replace unrealistic with median)
median_age = df['age'].median()
df['age'] = np.where((df['age'] < 16) | (df['age'] > 35), median_age, df['age'])

# ── Step 7: Bound check attendance (0–100) ──────────────────────────────────
df['attendance'] = np.clip(df['attendance'], 0, 100)

# Optional: clip scores if your assignment/exam max is known (e.g. 100)
df['assignment_score'] = np.clip(df['assignment_score'], 0, 100)
df['exam_score'] = np.clip(df['exam_score'], 0, 100)

# ── Final verification ──────────────────────────────────────────────────────
print("\n" + "="*60)
print("CLEANED DATASET SUMMARY")
print("="*60)
print("Shape:", df.shape)
print("\nData types:\n", df.dtypes)
print("\nMissing values:\n", df.isna().sum())
print("\nDescriptive statistics:\n", df.describe(include='all'))
print("\nFirst 8 rows of cleaned data:")
print(df.head(8))

# Optional: save cleaned version
# df.to_csv('student_performance_cleaned.csv', index=False)

Original shape: (164, 8)
Original dtypes:
 student_id           object
age                 float64
gender               object
attendance          float64
assignment_score     object
exam_score           object
final_grade          object
department           object
dtype: object

After removing duplicates → shape: (161, 8)

After numeric conversion:
assignment_score    float64
exam_score          float64
dtype: object
New NaNs created in scores:
 assignment_score    3
exam_score          4
dtype: int64

After imputation - remaining NaNs:
 student_id          0
age                 0
gender              0
attendance          0
assignment_score    0
exam_score          0
final_grade         0
department          0
dtype: int64

After standardization - unique values:
Gender: ['Male' 'Female' '46']
Department: ['Cs' 'It' 'Ee']
Final grade: ['A' 'B' 'C' 'Ee' 'D' 'F' 'It']

============================================================
CLEANED DATASET SUMMARY
============================================================
Shape: (161, 8)

Data types:
 student_id           object
age                 float64
gender               object
attendance          float64
assignment_score    float64
exam_score          float64
final_grade          object
department           object
dtype: object

Missing values:
 student_id          0
age                 0
gender              0
attendance          0
assignment_score    0
exam_score          0
final_grade         0
department          0
dtype: int64

Descriptive statistics:
        student_id    age gender  attendance  assignment_score  exam_score  \
count         161 161.00    161      161.00            161.00      161.00
unique        160    NaN      3         NaN               NaN         NaN
top          S028    NaN   Male         NaN               NaN         NaN
freq            2    NaN    133         NaN               NaN         NaN
mean          NaN  21.68    NaN       68.56             66.01       67.89
std           NaN   1.60    NaN       19.43             17.33       17.11
min           NaN  19.00    NaN       25.00             31.00       35.00
25%           NaN  20.00    NaN       55.00             52.00       54.00
50%           NaN  22.00    NaN       71.00             67.00       69.00
75%           NaN  23.00    NaN       85.00             81.00       83.00
max           NaN  25.00    NaN       98.00             95.00       97.00

       final_grade department
count          161        161
unique           7          3
top              D         Cs
freq            40         63
mean           NaN        NaN
std            NaN        NaN
min            NaN        NaN
25%            NaN        NaN
50%            NaN        NaN
75%            NaN        NaN
max            NaN        NaN

First 8 rows of cleaned data:
  student_id   age  gender  attendance  assignment_score  exam_score  \
0       S001 21.00    Male       85.00             78.00       82.00
1       S002 22.00    Male       90.00             88.00       91.00
2       S003 20.00  Female       75.00             65.00       70.00
3       S004 23.00    Male       60.00             55.00       58.00
4       S005 21.00    Male       95.00             92.00       69.00
5       S006 22.00  Female       70.00             68.00       69.00
6       S007 24.00    Male       40.00             45.00       50.00
7       S008 21.00    Male       88.00             80.00       85.00

  final_grade department
0           A         Cs
1           A         Cs
2           B         It
3           C         It
4           A         Cs
5          Ee         Cs
6           D         Ee
7           A         Cs